---
import Section from "./Section.astro";

---

<Section title="Model S" subtitle="Explore Inventory" color="black" decoration="underline">
    <div slot="sectionfooter" class="flex gap-20 mx-auto text-white mb-5">
        <div>
            <p class="text-[24px] font-medium">396 mi</p>
            <p class="text-[13px]">Range (EPA est.)</p>
        </div>
        <div>
            <p class="text-[24px] font-medium">1.99 s</p>
            <p class="text-[13px]">0-60 mph*</p>
        </div>
        <div>
            <p class="text-[24px] font-medium">200 mph</p>
            <p class="text-[13px]">Top Speed*</p>
        </div>
        <div>
            <p class="text-[24px] font-medium">1,020 hp</p>
            <p class="text-[13px]">Peak Power</p>
        </div>
    </div>
    <div slot="footer" class="flex gap-x-6 mx-auto">
        <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 
        inline-block transition-colors hover:border-gray-500 hover:bg-gray-500" 
        href="#">
        Order Now
        </a>
        <a class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black" 
        href="#">
        Demo Drive
        </a> 
    </div>
    <img slot="background" src="/public/Model-S-Main-Hero-Desktop-LHD.avif" alt="Model Y" class="h-full w-full object-cover object-center">
</Section>

